.wrapper {
    margin-top: 45px;
    --color-name: var(--color-violet);
}

.person__name {
    padding: var(--spacing-small);
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
    color: var(--color-white);
    background-color: var(--color-name);

    font-size: var(--font-size-subheader);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.person__container {
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid var(--color-name);
    border-radius: 0 var(--border-radius);
    padding: var(--spacing-medium);
}