.header {
    max-width: 1200px;
    width: 100%;
    margin: auto auto var(--spacing-large) auto;
    padding: 0;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.header__logo img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .4s ease-out;
}

.header__logo img:hover {
    filter: hue-rotate(110deg) drop-shadow(16px 16px 20px blue);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__container a {
    display: block;
    padding: 7px 10px;

    border: 2px solid transparent;
    border-radius: var(--border-radius);
    min-width: 70px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;

    font-family: var(--font-family-main);
    font-weight: var(--font-bold);

    text-shadow: var(--text-shadow-yellow);
    transition: var(--transition);
}

.list__container a:hover {
    color: var(--color-violet);
    text-shadow: none;
}

.list__container :global(a.active) {
    border: 2px solid var(--color-violet);
    color: var(--color-violet);
    text-shadow: none;
}

.list__item:not(:last-child) {
    margin: 0 10px;
}
