.wrapper {
    margin-bottom: 20px;
}

.link__img {
    width: 30px;
    height: 22px;
    object-fit: cover;
    transition: all .3s ease-out;
    filter: brightness(20%);
}

.link {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;

    color: var(--color-yellow);
    font-weight: bold;
    text-decoration: none;
}

.link:hover > .link__img {
    transform: translateX(-5px);
    filter: brightness(100%);
}